.modal
{
    position: absolute;
    top: 10px;
    left: 30vh;

    padding: 20px 20px 20px 20px;

    transition: .5s;
    transform: scale(0);
    text-decoration: none;

    opacity: 0;
    border-radius: 15px 15px 15px 15px;
    background-color: #a4ad79;
}

.active
{
    transform: scale(1);

    opacity: 1;
}

.button
{
    margin: 10px;
    padding: 3px;

    text-decoration: none;

    color: #000;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #878c6c;
}

.button:hover
{
    color: #fff;
    border: 1px solid #fff;
}

.button:active
{
    opacity: .5;
}

.close_button
{
    position: absolute;
    top: 3px;
    left: 3px;

    margin: 0;
    padding: 3px 5px;

    outline: none;
}
