.clock
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 200px;
    margin: 20px;
    margin: 0 auto;
    padding: 20px;

    text-align: center;

    border: 1px solid grey;
    border-radius: 14px;
}

.time
{
    width: 100px;

    border: 1px solid grey;
    border-radius: 14px;
    background-color: #a4ad79;
    /*margin: 0 auto;*/
}

.date
{
    width: 100px;

    transition-duration: 1s;

    border: 1px solid grey;
    border-radius: 14px;
    background-color: #a4ad79;
    /*margin: 0 auto;*/
}

.buttons
{
    display: flex;
    justify-content: space-around;

    width: 200px;
    margin: 10px;
}

.buttons > *
{
    padding: 5px;
}
