.container {
    background-color: gold;
    display: flex;
    flex-direction: row;
}

.containerMessage {
    position: relative;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    border-radius: 7px 7px 7px 0;
    padding: 5px 50px 10px 10px;
    height: 53.5px;
    margin-top: 13px;
    margin-bottom: 8px;
}

.avatar {
    border-radius: 30px;
    width: 70px;
    height: 70px;
    margin-top: 11px;
    margin-right: 10px;
    margin-left: 10px;
}
.containerMessage:before{
    position:absolute;
    content:"";
    left:-5px;
    top:53px;
    width:5px;
    height:15px;
    border-bottom-right-radius: 15px;
    border-right:10px solid #000;
    border-bottom:1px solid #000000;
}
.containerMessage:after{
    position:absolute;
    content:"";
    left:-4px;
    top:66px;
    width:6px;
    height:2px;
    background-color: #000;
    border-top-left-radius: 25px;
    border-right:8px solid #000;
    border-bottom:1px solid #000000;
}


.name {
    color: #906296;
}

.message {

}

.time {
    color: #2e2d2e;
    position: absolute;
    right: 8px;
    bottom: 5px;
}



