

.affairs {
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
}

.affair {
    background-color: #d7e0ad;
    border: 1px solid #000;
    width: 500px;
    margin: 10px;
    border-radius: 15px;
    position: relative;
    padding: 10px;
    padding-right: 70px
}

.button {
    background-color: #a4ad79;
    border: 1px solid #000000;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    position: absolute;
    top: 11%;
    right: 10px;
    outline: none;
}

.button:active {
    opacity: .5;
}
.button:hover {
    transform: scale(1.1);
}

.filterButton {
    background-color: #a4ad79;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #000000;
    margin-left: 10px;
    outline: none;
    margin: 10px;
    width: 60px;
}

.filterButton:active {
    opacity: .5;
}

.filterButton:hover {
    transform: scale(1.1);
}