.blue
{
    border-bottom: 5px solid blue;
}

.column
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.test_button
{
    margin-top: 5px;
}

.container
{
    background-color: #d7e0ad;
}
