.menu {
    padding: 15px;
    border-radius: 0 0 10px 10px;
    font-size: 17px;
    position: relative;
}

.open_button {
    outline: none;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 15px;
    color: #000;
    font-size: 15px;
}

.open_button:hover {
    color: #fff;
    border: 1px solid #fff;
}

.open_button:active {
    opacity: .5;
}

.dark {
    background-color: #999797;
}

.pink {
    background: #eb7f7f;
}

.red {
    background: #910000;
}

.green {
    background: #346b49;
}

.purple {
    background: purple;
}