.menu {
    padding:15px;
    border-radius: 0  0 10px 10px;
    background-color: #d7e0ad;
    font-size: 17px;
    position: relative;
}

.open_button {
    background-color: #a4ad79;
    outline: none;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 15px;
    color: #000;
    font-size: 15px;
}

.open_button:hover {
    color: #fff;
    border: 1px solid #fff;
}

.open_button:active {
    opacity: .5;
}