.button {
    border: 1px solid #000;
    border-radius: 15px;
    outline: none;
}

.button:hover {
    transform: scale(1.1);

    color: #fff;
    border-color: #fff;
}

.button:active {
    opacity: .5;
}

.error {
    border: 1px solid #000;
    border-radius: 15px;
    outline: none;
    background: red;
}

.green {
    background-color: green;
}


.dark {
    color: #000;
    background: #fff;
}

.dark:hover {
    color: #000;
}

.purple {
    background: rebeccapurple;
    color: yellow;
}

.pink {
    background: deeppink;
}

.red {
    background: indianred;
}
