.someClass {

}

.error {
    background-color: #89e0c5;
    outline: none;
    border: 2px solid mediumvioletred;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
}

.input {
    background-color: #89e0c5;
    outline: none;
    border: 1px solid #fff;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
}

.button {
    background-color: #89e0c5;
    outline: none;
    border-radius: 15px;
    margin: 10px;
    border: 1px solid #fff;
    padding: 5px;
    color: #11635d;
}

.greetingContainer {
    background-color: #d5e8e2;
    position: relative;
    padding: 40px 10px 40px 10px;
    color: #11635d;
}

.button:hover {
    transform: scale(1.1);
}

.button:active {
    opacity: .5;
}

.errorText {
    position: absolute;
    left: 30px;
    bottom: 10px;
    font-size: 20px;
    color: mediumvioletred;

}